
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fffdf9;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 15px 40px;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover,
.nav-links .active {
  text-decoration: underline;
}

.main {
  background-image: url("https://images.unsplash.com/photo-1604152135912-04a022e23696");
  background-size: cover;
  background-position: center;
  color: black;
  text-align: center;
  padding: 120px 20px;
}

.main-content {
  max-width: 600px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px;
}

.main h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.main p {
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.btn {
  background-color: #000000;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
}

.btn:hover {
  background-color: #000000;
}

.featured {
  padding: 60px 40px;
  text-align: center;
}

.featured h2 {
  margin-bottom: 40px;
  font-size: 2rem;
}

.food-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.food-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.3s;
}

.food-card:hover {
  transform: translateY(-5px);
}

.food-card img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.food-card h3 {
  margin: 15px 10px 5px;
  color: #000000;
}

.food-card p {
  padding: 0 10px 20px;
  font-size: 0.95rem;
  color: #555;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
}
